@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/Tahoma.ttf);
}

#barraaceptacion {
	display:none;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	padding:20px;
	width:80%;
	text-align:center;
	min-height:100px;
	background-color: rgba(0, 157, 221, 0.8);
	color:#fff;
	z-index:990;
	bottom:20px;
	border-radius:10px;
	margin:0px auto;
}

.block_cookie {
	width:100%;
	padding-left:5px;
	font-family: 'Tahoma';
	font-size:16px;
}

.block_cookie a{padding:4px;color:#FFFFFF;text-decoration:none;}
.block_cookie a hover{text-decoration:underline;color:#FFFFFF;}