/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
	overflow-x:hidden;
}


/* Arial fonts */


@font-face{
	font-family:'Arial_Black';
	src: url(../fonts/Arial_Black.eot); /* IE9 Compat Modes */
	src: url(../fonts/Arial_Black.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/Arial_Black.ttf) format('truetype'); /* Safari, Android, iOS */	
	}
@font-face {
    font-family: 'Arial_Bold';
    src: url(../fonts/Arial_Bold.ttf);
}
@font-face {
    font-family: 'Arial_Bold_Italic';
    src: url(../fonts/Arial_Bold_Italic.ttf);
}
@font-face {
    font-family: 'Arial_Italic';
    src: url(../fonts/Arial_Italic.ttf);
}



/* FrutigerLTStd fonts */


@font-face{font-family:'FrutigerLTStd-Black';
src:url(../fonts/FrutigerLTStd-Black.eot);
src:url(../fonts/FrutigerLTStd-Black.eot?#iefix) format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Black.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Black.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Black.svg) format('svg')}

@font-face{font-family:'FrutigerLTStd-Bold';
src:url(../fonts/FrutigerLTStd-Bold.eot);
src:url(../fonts/FrutigerLTStd-Bold.eot?#iefix) format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Bold.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Bold.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Bold.svg) format('svg')}

@font-face{font-family:'FrutigerLTStd-BoldCn';
src:url(../fonts/FrutigerLTStd-BoldCn.eot);
src:url(../fonts/FrutigerLTStd-BoldCn.eot?#iefix) format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-BoldCn.woff) format('woff'),
	url(../fonts/FrutigerLTStd-BoldCn.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-BoldCn.svg) format('svg')}

@font-face{font-family:'FrutigerLTStd-Light';
src:url(../fonts/FrutigerLTStd-Light.eot);
src:url(../fonts/FrutigerLTStd-Light.eot?#iefix) format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Light.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Light.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Light.svg) format('svg')}

@font-face{font-family:'FrutigerLTStd-Roman';
src:url(../fonts/FrutigerLTStd-Roman.eot);
src:url(../fonts/FrutigerLTStd-Roman.eot?#iefix) format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Roman.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Roman.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Roman.svg) format('svg')}



/* Tahoma fonts */

@font-face {
    font-family: 'Tahoma';
    src: url(../fonts/Tahoma.eot); /* IE9 Compat Modes */
    src: url(../fonts/Tahoma.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../fonts/Tahoma.ttf) format('truetype'); /* Safari, Android, iOS */
	
}
@font-face {
  font-family: 'Tahoma_Bold';
  src: url(../fonts/Tahoma_Bold.eot); /* IE9 Compat Modes */
  src: url(../fonts/Tahoma_Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../fonts/Tahoma_Bold.ttf) format('truetype'); /* Safari, Android, iOS */
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/*  validation message  */   
            
-webkit-validation-bubble {
    font-weight: 200;
}
-webkit-validation-bubble-arrow {
	border: 1px solid #E6C700;
	background: #FAF1B4;
	margin-bottom:6px;
	padding: 2px;
	}
	
-webkit-validation-bubble-message {
	border: 1px solid #E6C700;
	background: #FAF1B4;
	padding: 0.5em 1em;
	margin-top: 3px;
	}


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
.img-camisetas{
	width:30px;
	margin-right:10px;
}
.top_logo{
    padding: 20px 10px;
	text-align:right;
}

.top_idiomes{
    padding: 15px 10px;
	text-align:right;
	background-color:#009DDD;
	color:#FFF;
}
.top_idiomes a{
	color:#FFF;
	font-family: 'Arial';
	font-size:12px;
}
.top_idiomes a:hover{
	color:#CCC;
	text-decoration:underline;
}
/* Home Page Carousel */

header.carousel {
    height: 225px;
	margin: 30px auto;
	width: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
	border-top: 4px solid #009DDD;
}

/* Home Page Carousel Responsive*/

header.carousel_inici {
    height: 225px;
	margin: 30px auto;
	width: 100%;
	display:block;
}

header.carousel_inici .item,
header.carousel_inici .item.active,
header.carousel_inici .carousel-inner {
    height: 100%;
}

header.carousel_inici .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
	border-top: 4px solid #009DDD;
}

.text_caption{
     position:absolute;
	 right:15%;
	 top:18%;
	 z-index:10;
	 padding-top:5px;
	 padding-bottom:20px;
	 width:22%;
	 color:#fff;
	 text-align:left;
	 font-size:27px;
	 text-shadow:0 1px 2px rgba(0,0,0,.9);
	 font-family: 'FrutigerLTStd-Roman';
	 right:13%;
}
.label_caption{
		position: absolute;
		left: -23px;
		bottom: 20px;
		z-index: 11;
		width: 20%;
		padding: 18px 0px 18px 30px;
		color: #000;
		text-align: center;
		font-family: 'Arial';
		font-size: 17px;
		background: url(../../images/label.png) no-repeat right center;
		opacity: 0.7;
		font-weight: 500;
}
.label_caption a{
	color:#000;
}
.label_caption a:hover{
	color:#ccc;
	text-decoration:none;
}

.back_color{
    background-color: #e9e9e9;
	padding: 15px 0px;	
}
.first{
    border-left: thin solid #d1d1d1;	
}

.btn_slide{
    display:inline-block;
	padding-left:0;
	margin:20px 0 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto.jpg) repeat-x left center;
	padding:6px 14px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
	height:40px;
}
.btn_slide .icon{
	margin-left:1px;
}
.btn_slide .text{
	margin-left:20px;
	font-size:12px;
	line-height:28px;
}

.btn_new{
    display:inline-block;
	padding-left:0;
	margin:20px 0 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto.jpg) repeat-x left center;
	padding:6px 14px 6px 10px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
	height:40px;
}
.btn-success{
    display:inline-block;
	padding-left:0;
	margin:20px 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto_standard.jpg) repeat-x left center;
	padding:3px 14px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
}
.btn_new_short{
    display:inline-block;
	padding-left:0;
	margin:20px 0 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto.jpg) repeat-x left center;
	padding:3px 30px 6px 9px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
	height:40px;
}
.btn_new1{
    display:inline-block;
	padding-left:0;
	margin:20px 0 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto.jpg) repeat-x left center;
	padding:3px 14px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
}
.btn_new2{
    display:inline-block;
	padding-left:0;
	margin:20px 0 8px 0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background:url(../../images/bg_boto.jpg) repeat-x left center;
	padding:6px 10px;
	text-transform:uppercase;
	font-family: 'Tahoma_Bold';
	height:40px;
}
.btn_new2 .icon{
	margin-left:1px;
}
.btn_new2 .text{
	margin-left:10px;
	font-size:12px;
	line-height:28px;
}



.btn_new .icon{
	margin-left:1px;
}
.btn_new .icon1{
	margin-left:-5px;
}
.btn_new1 .icon1{
	margin-left:-5px;
}
.btn_new1 .text{
	margin-left:20px;
	font-size:12px;
	line-height:28px;
}
.btn_new1 .text1{
	margin-left:30px;
	font-size:12px;
	line-height:28px;
}
.btn_new .text{
	margin-left:20px;
	font-size:12px;
	line-height:28px;
}
.btn_new_short .text{
	margin-left:20px;
	font-size:12px;
	line-height:28px;
}
.panel-body-expe1{
    padding: 0 15px 0px 15px;
	background:url(../../images/reg.png) no-repeat bottom right;
}
.panel-body-expe2{
    padding: 0 15px 0px 15px;
	background:url(../../images/inter.png) no-repeat bottom right;
}
.panel-body-expe3{
    padding: 0 15px 0px 15px;
	background:url(../../images/tel.png) no-repeat bottom right;
}
.panel-body-expe1, .panel-body-expe2, .panel-body-expe3{
    padding-top:20px;	
}
.video{
   height:321px;
   width:100%;
   background-color:#009DDD;
   padding:90px auto;
   text-align:center;
}
.video img{
   height:222px;
   width:181px;
   margin-top:40px;
}
.video p{
	font-family: 'Tahoma';
	color:#FFFFFF;
	font-size:16px;
	text-transform:uppercase;
}
.panel_middle {  
    background-color:#e9e9e9;
    border-top: 3px solid #009DDD;
	padding:10px 20px;
	margin:20px 0px;
	font-family: 'Tahoma';
	color:#000000;
	font-size:14px;
}
.panel_middle H1, .panel_middle_paso1 H1{  
    color:#009DDD;
    font-family: 'Tahoma';
	font-size:21px;
}

.panel_middle H2{  
    color:#009DDD;
    font-family: 'Tahoma_Bold';
	font-size:18px;
}

.panel_middle_paso1 {  
    background-color:#e9e9e9;
    border-top: 3px solid #009DDD;
	padding:10px 20px;
	margin:20px 0px;
	min-height:10px;
	font-family: 'Tahoma';
	color:#000000;
	font-size:14px;
}

.bold{
	font-family: 'Tahoma_Bold';
	font-size:18px;
}

.panel_bottom {  
    background-color:#FFFFFF;
    border-top: 3px solid #009DDD;
	padding:10px 20px;
	margin:20px 0px;
	min-height: 10px;
	float:left;
	width:100%;
}
.panel_bottom H1, .panel_bottom_grey H1, .panel_bottom_2 H1, .panel_bottom_print H1{  
    color:#009DDD;
    font-family: 'Tahoma_Bold';
	font-size:18px;
	text-transform:uppercase;
}
.panel_bottom p, .panel_bottom_2 p{  
    color:#000000;
    font-family: 'Tahoma';
	font-size:12px;
}

.panel_bottom_grey {  
    background-color:#e9e9e9;
    border-top: 3px solid #009DDD;
	padding:10px 20px;
	margin:20px 0px;
	min-height: 10px;
	float:left;
	width:100%;
}


.col3{
	width:33%;
	float:left;
}

.col3_box{
	margin: 5px 5px;
	float:left;
	width:100%;
	padding:5px;
}

.col3_box_grey{
    background-color:#e9e9e9;
    border-top: 3px solid #9d3232;
	padding:20px;
	float:left;
	width:100%;
}

#myPrintArea .row{
	width:94%;
}

#myPrintArea H1{
    font-family: 'Tahoma_Bold';
	font-size:1.6em;
	color:#9d3232;		
}

#myPrintArea H2{
    font-family: 'Tahoma_Bold';
	font-size:1.4em;
	color:#9d3232;		
}

#myPrintArea p {
 	font-family: 'Tahoma';
	color:#000000;
	font-size:1.1em;
}





.box {  
	background: url(../../images/bubble.png) no-repeat center center;
	margin: 20px 0px;
	width: 380px;
	height: 305px;
	float: right;
	color: #fff;
	text-align: left;
	font-size: 27px;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	font-family: 'FrutigerLTStd-Roman';
	padding: 78px 25px 60px 60px;
}
.boxleft {  
	background: url(../../images/bubble.png) no-repeat center center;
	margin: 20px 0px;
	width: 380px;
	height: 305px;
	float: left;
	color: #fff;
	text-align: left;
	font-size: 27px;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	font-family: 'FrutigerLTStd-Roman';
	padding: 78px 25px 60px 60px;
}
.box1 {  
	background: url(../../images/bubble.png) no-repeat center center;
	margin: 20px 0px;
	width: 380px;
	height: 305px;
	float: right;
	color: #fff;
	text-align: center;
	font-size: 27px;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	font-family: 'FrutigerLTStd-Roman';
	padding: 75px 25px 60px 10px;
	line-height:32px;

}
.mail_con{
    font-size:14px;	
}

.form {  
	margin: 20px 0px;
	float: left;
	width: 450px;
	color: #000;
	text-align: left;
	font-size: 11px;
	font-family: 'FrutigerLTStd-Bold';
	padding: 10px;
}
.formright {  
	margin: 20px 0px;
	float: right;
	width: 450px;
	color: #000;
	text-align: left;
	font-size: 11px;
	font-family: 'FrutigerLTStd-Bold';
	padding: 10px;
}
.form p{  
	font-family: 'Tahoma';
	font-size:11px;
}
.orange {  
	color:#009DDD;
		font-family: 'Tahoma_Bold';
}
.orange1 {  
	color:#009DDD;
		font-family: 'Tahoma';
}
.line{
	height: 5px;	
	border-bottom: 2px solid #009DDD;
	margin-bottom:10px;
}

.form a {  
	color:#009DDD;
}
.form a:hover {  
	text-decoration:underline;
}
.element_to_pop_up_content1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 20%;
	background-color:#FFF;
	position: relative;
	z-index:10;
	text-align:left;
	font-family: 'Tahoma_Bold';
	color:#009DDD;
}
.element_to_pop_up_content2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
	background-color:#FFF;
	position: relative;
	z-index:10;
	text-align:left;
	font-family: 'Tahoma';
	color:#000000;
	font-size:12px;
	overflow-y:auto;
	overflow-x:hidden;
	height:400px;
	
}

.element_to_pop_up_content2 H2 {
	font-family: 'Tahoma_Bold';
	color:#009DDD;
	font-size:14px;
	
}

.element_to_pop_up_video {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
	background-color:#FFF;
	position: relative;
	z-index:10;
	max-height:480px;
	max-width:854px;
	
}
.recuerde{
	font-family: 'Tahoma';
	color:#000000;
	font-size:11px;
	margin-top:10px;
}
.recuerde_full{
	font-family: 'Tahoma';
	color:#000000;
	font-size:11px;
	margin-top:10px;
	float:left;
	width:100%;
}
#expe{
	border-top: 1px dotted #009DDD;
	width:100%;
	margin:10px 0px;
	padding:10px 0px;
}
#expe H2{
	font-family: 'Tahoma_Bold';
	font-size:18px;
	color:#009DDD;
}
.image_top_hotel{
	border-top: 4px solid #009DDD;
	width:100%;
	background:url(../../images/top_hotel.jpg) center center no-repeat;
	min-height:224px;
}
.image_top_hotel H1{
	font-family: 'FrutigerLTStd-Black';
	font-size:18px;
	color:#009DDD;
	padding: 30px 0 0 30px;
	text-transform:uppercase;
	margin-bottom: 0px;
}
.image_top_hotel p{
	font-family: 'FrutigerLTStd-Roman';
	font-size: 14px;
	color: #009DDD;
	padding: 0px 0 0 30px;
}

.image_top_expe{
	border-top: 4px solid #009DDD;
	width:100%;
	background:url(../../images/top_experiencias.jpg) center center no-repeat;
	min-height:224px;
}
.image_top_expe H1{
	font-family: 'FrutigerLTStd-Black';
	font-size:18px;
	color:#009DDD;
	padding: 20px 0 0 20px;
	text-transform:uppercase;
}
.image_top_expe p{
	font-family: 'FrutigerLTStd-Roman';
	font-size:14px;
	color:#009DDD;
	padding: 5px 0 0 20px;
}

.image_top_futbol{
	border-top: 4px solid #009DDD;
	width:100%;
	background:url(../../images/top_futbol.jpg) center center no-repeat;
	min-height:224px;
}
.image_top_futbol H1{
	font-family: 'FrutigerLTStd-Black';
	font-size:18px;
	color:#009DDD;
	padding: 30px 0 0 30px;
	text-transform:uppercase;
	margin-bottom: 0px;
}
.image_top_futbol p{
	font-family: 'FrutigerLTStd-Roman';
	font-size:14px;
	color:#009DDD;
	padding: 0px 0 0 30px;
}

.carousel-caption H2, .carousel-caption H2 a{
	font-size:18px;
	line-height:18px;
	color:#009DDD;
	margin:0px;
	padding:0px;
	font-family: 'FrutigerLTStd-Bold';
	text-transform:uppercase;
	margin-top: 5px;
}
.carousel-caption H3, .carousel-caption H3 a{
	font-size:14px;
	line-height:14px;
	color:#009DDD;
	margin:0px;
	padding:0px;
   	font-family: 'FrutigerLTStd-Bold';
}
.bold{
    font-weight:bold;	
}

/* Estils popup bases legales */
   

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}


/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 20px 0;
	padding: 10px 0px 30px 0px;
	background-color:#009DDD;
	color:#FFF;
	font-family: 'Arial';
	font-size:11px;
}
footer a{
	color:#FFF;
}
footer a:hover{
	color:#CCC;
	text-decoration: underline;
}
footer .left{
    float:left;	
}

footer .right{
    float:right;
    text-align:right;	
	font-family: 'Arial';
}

.modal-dialog H1{
	color:#009DDD;
    font-family: 'Tahoma_Bold';
    font-size:24px;
}
.modal-dialog p{
	color:#000000;
    font-family: 'Tahoma';
    font-size:12px;
}
.modal-dialog p.red {
	color:#009DDD;
    font-family: 'Tahoma';
    font-size:12px;
}

.espai_slides{
    float:left;
	width:2%;	
	border: 1px solid #FFFFFF;
}
 .banner_home_res {  
	display:none;
}
.boxleft_img {  
	display:none;
}
.white{
	color:#FFFFFF;
}
/* Responsive Styles */
@media(max-width:1200px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
	.container{	
	}
	.text_caption{
	 width:28%;
	 font-size: 23px;
	 top:28%;
	 right: 9%;
	}
	
	.label_caption{
		width:22%;
		left: 0px;
	}
	 .banner_home_res {  
	display:none;
}
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
	.container{
	}
	.text_caption{
	 width:23%;
	 font-size:16px;
	 right: 14%;
	}
	.label_caption{
		width:28%;
		font-size: 17px;
		left:1px;	
	}
	.carousel-caption {
    width: 44%;
}	
	.box, .box1{
		display:none	
	}
	.form {
		width: 100%;
	}
	label.primera{
		margin-top:60px;
	}
	.navbar-inverse .navbar-nav>li>a{font-family: 'Arial_Black'; color:#000; border-right: thin solid #d1d1d1; font-size:14px;}

 .banner_home_res {  
	display:none;
}

.image_top_futbol{
	border-top: 4px solid #009DDD;
	width:100%;
	background:url(../../images/top_futbol_res.jpg) center center no-repeat;
	min-height:224px;
}
	.boxleft {  
	/*background: url(../../images/bubble.png) no-repeat center center;
	margin: 20px 0px;
	width: 380px;
	height: 305px;
	float: left;
	color: #fff;
	text-align: left;
	font-size: 27px;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	font-family: 'FrutigerLTStd-Roman';
	padding: 78px 25px 60px 60px;border: thin solid #CCCCCC;*/
	display:none;
}
.boxleft_img {  
	display:block;
}
.formright {  
	margin: 20px 0px;
	float: right;
	width: 100%;
	color: #000;
	text-align: left;
	font-size: 11px;
	font-family: 'FrutigerLTStd-Bold';
	padding: 10px;
}



}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
	header.carousel {
    height: 225px;
	margin: 15px auto;
	width: 100%;
}
		.container{	
	}
		.carousel-caption{
	    width:75%;	
	}
	.navbar-inverse{
		border: thin solid #d1d1d1;
	}
	.navbar-inverse .navbar-nav > li > a{
	     border: none;	
	}
		.text_caption{
	 width:23%;
	 font-size:15px;
	 padding-top:10px;
	 	 left:15%;
	}
	.label_caption{
		width: 35%;
		font-size: 14px;
		left:0%;
		margin-left:18px;
	}
	.carousel-caption {
    width: 73%;
}	

.box {  
    display:none;
}


.element_to_pop_up_content2 {
    height: 300px;
}
	.banner_home {  
	display:block;
}
	.text_caption{
		display:none	
	}
 .banner_home_res {  
	display:none;
}

.image_top_futbol{
	border-top: 4px solid #009DDD;
	width:100%;
	background:url(../../images/top_futbol_res1.jpg) center center no-repeat;
	min-height:224px;
}

}

@media(max-width:620px) {

		.text_caption{
	 width:23%;
	 font-size:15px;
	 padding-top:10px;
	 	 left:15%;
	}
}
@media(max-width:480px) {
	.container{	
	
	}
	.carousel-caption{
	    width:300px;	
	}
	
	.text_caption{
	    display:none;
}
	  .label_caption{
	    display:none;
     }
	 .video{
		   height:200px;
		   width:100%;
		   background-color:#009DDD;
		   padding:90px auto;
		   text-align:center;
		}
		.video img{
		   height:144px;
		   width:144px;
		   margin-top:32px;
		}
	.form {  
	width:89%;
}
	.btn_slide{
	   display:none;	
	}
	.col3_box{
	margin: 0px;
	float:left;
	width:150%;
	padding:0px;
}
.panel_bottom {  
    background-color:#FFFFFF;
    border-top: 3px solid #009DDD;
	padding:10px 20px;
	margin:20px 0px;
	min-height: 10px;
	float:left;
	width:100%;
}
.nbs-flexisel-container, header.carousel {
    display:block;
}
 .banner_home_res {  
	display:block;
}

	.banner_home {  
	display:none;
}

header.carousel_inici {
    height: 225px;
	margin: 30px auto;
	width: 100%;
	display:block;
}

header.carousel_inici .item,
header.carousel_inici .item.active,
header.carousel_inici .carousel-inner {
    height: 100%;
}

header.carousel_inici .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
	border-top: 4px solid #009DDD;
}

}
@media(max-width:320px) {
	.container{
	}
	.top_logo{
    padding: 10px 0px;
	width:90%;
	}
	.top_logo img{
	width:90%;
	}
	.carousel-caption{
	    width:95%;	
	}
	.text_caption{
	    display:none;
     }
	  .label_caption{
	    display:none;
     }
	 footer .right{
	 }

	.form {  
	width:86%;
}
.image_top_futbol, .image_top_expe, .image_top_hotel{
   display:none;	
}

}



/************************************* estils popup vídeo ****************************************/
 .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
.close {
    font-size: 80px;
    margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        font-size: 80px;
        margin:30px -43px -20px 100px;
    }
}

/***** fi estils popup vídeo *****/






/***** Estils Vertical Tabs  *****/

//updated ver
* {
  box-sizing:border-box;
}

.heading-primary {
  font-size:21px;
  padding:10px;
}
.accordion dl,
.accordion-list {
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion dd,
.accordion__panel {
   font-size:14px;
   line-height:14px; 
   word-wrap: break-word;
}
.accordion p {
  padding:5px 10px;
  width:95%;
  font-family: 'Tahoma';
  color:#000000;
  font-size:14px;
  line-height:14px; 
  text-align:justify;
}

.accordion {
    position:relative;
	width:95%;
}
.accordionTitle,
.accordion__Heading {
	 font-family: 'Tahoma';
	 color:#009DDD;
     font-weight:none; 
          padding:5px;
          display:block;
          text-decoration:none;
          color:#009DDD;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:14px;
   line-height:14px;
   float:left; 
   transition: transform 0.3s ease-in-out;
   width:92%;bo
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}


/***** Fi Estils Vertical Tabs  *****/


/***** Estils Input upload  *****/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/***** Fi Input upload  *****/


